# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
.venv*/
venv/
ENV/
.env
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# EDA Benchmarking & Cache
reports/eda/tiempos/
reports/eda/cache/

# Data / outputs
data/raw/**/.*
data/raw/**/__MACOSX/
*.lock
*.sqlite
*.db
*.db3

# OS
Thumbs.db
Desktop.ini

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# Ignore heavy / intermediate files
*.zip
data/raw/INFRAESTRUCTURA_ESPACIO_PUBLICO/gpkg_mr_v03.26/
*.tar.gz
*.7z
*.rar

# Keep notebook outputs out of repo
outputs/
